* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
  
.screen{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}


.top-nav{
    display: flex;
    gap: 0.5rem;
    height: 3.5rem;
    align-items: center;
    padding: 2px 1rem;
    font-size: 0.9rem;
    overflow-x: auto;

}
.top-nav span{
    font-weight: 500;
    line-height: 1.25rem;
    margin-right: 0.5rem;
    color: rgb(115,115,115);
    font-weight: 300;
    font-weight: 500;
}

.top-nav a{
    padding: 0.375rem 0.75rem;
    line-height: 1rem;
    font-size: 0.75rem;
    background-color: rgb(245 245 245);
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    color:inherit;
    transition: all 200ms ease-in-out;
    font-weight: 500;
    flex-shrink: 0;

}

.top-nav a:hover{
    background-color:rgb(207, 204, 204) ;
}
.top-nav a:focus{
    background-color: black;
    color: white;
}

.top-nav a.active{
    background-color: black;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}




.source {
    width: 100%;
    height: 2rem;

    padding: 0 1rem;

    display: flex;
    align-items: center;


    background-color: #f5f5f5;
    color: #868585;
    border-top: 1px solid #e5e1e1;
    border-bottom: 1px solid #e5e1e1;

}
.source span{
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(115,115,115);
}


.main{
    display: flex;
    flex-direction: column;
    flex:1 1 0;
    overflow-y: hidden;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    height: 3.5rem;
    border-bottom: 1px solid rgb(229,229,229);

}
.logo{
    height: 1.5rem;
    width: 10rem;
    border-radius: 0.25rem;
    background-color: rgb(229,229,229);
}

.profile{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.name{
    height: 2rem;
    width: 8rem;
    border-radius: 0.25rem;
    background-color: rgb(245,245,245);
}

.CTA-Btn{
    height: 2rem;
    width: 6rem;
    border-radius: 0.25rem;
    background-color: rgb(23,23,23);
}

.search{
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    border-bottom: 1px solid rgb(229 229 229);
}

.quick-filters{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.quick-filter{
    height: 1.75rem;
    width: 7rem;
    border-radius: 9999px;
    background-color: rgb(245 245 245);
}

.search-bar{
    height: 1.75rem;
    width: 12rem;
    border-radius: 0.25rem;
    background-color: rgb(245 245 245);
}

.table{
    flex:1 1 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.table-headers{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 2.5rem;
    gap: 1rem;
    background-color: rgb(245 245 245);
    border-bottom: 1px solid rgb(229,229,229);
}

.table-datas{
    height: 3.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgb(245 245 245);
}

.table-head{
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: rgb(229,229,229);
}

.table-data{
    height: 1.25rem;
    background-color: rgb(229,229,229);
    border-radius: 0.25rem;
}



.t1{
    width: 3rem;
}

.t2{
   width: 12rem;
}

.t3{
    width: 10rem;
}

.t4{
    width: 8rem;
}
.t5{
    width: 8rem;
}

.t6{
    width: 6rem;
}

.t7{
    background-color: inherit;
    flex:1 1 0;
}

.t8{
    width: 5rem;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.t8-head{
    background-color: rgb(229,229,229);
}

.table-block{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.25rem;
    background-color: rgb(229 229 229);
}

.light{
    background-color: rgb(245,245,245);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 1.5rem;
    border-top: 1px solid rgb(229 229 229);
}

.page-control{
    height: 1.25rem;
    width: 8rem;
    border-radius: 0.25rem;
    background-color: rgb(229 229 229);
}

.social-medias{
    display: flex;
    gap: 0.5rem;
}

.social-media-link{
    height: 2rem;
    width: 2rem;
    background-color:rgb(245 245 245);
    border-radius: 0.25rem;

}


.social-media-link:nth-child(2){
    background-color: rgb(229 229 229);
}






















