* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.source {
    width: 100%;
    height: 5vh;

    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;

    display: flex;
    align-items: center;


    background-color: #f5f5f5;
    color: #868585;
    border-top: 1px solid #e5e1e1;
    border-bottom: 1px solid #e5e1e1;

}

.layout {
    display: grid;
    height: 95vh;

    grid-template-columns: 260px 1fr 320px;

}

.left-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px;
    height: 100%;
}

.central-main {
    display: grid;
    height: 100%;
    grid-template-rows: 70px 1fr;
    border: 1px solid #e5e5e5;
    border-top: none;
}

.main-up {
    border-bottom: 1px solid #e5e5e5;
    height: 100%;
}

.main-down {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    min-height: 0;
    height: 100%;

}

.main-article {
    width: 100%;
    background-color: #f5f5f5;
    flex-basis: 150px;
    flex-shrink: 1;
    border-radius: 10px;
    border: 1px solid #e5e1e1;
}

.article-central {
    flex-basis: 230px;
}

.left-nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    ;

}

.left-nav ul>li {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

li:first-child {
    background-color: #e5e5e5;
}

.left-nav button {
    width: 100%;
    height: 50px;
    background-color: black;
    border-radius: 5px;
}

.right-aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 18px;

}

.right-aside section {
    flex-basis: 180px;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;

}

.right-aside section:first-child {
    flex-basis: 40px;
    border-radius: 20px;
}

.right-aside section:last-child {
    flex-basis: 260px;
}


