* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
  
.screen{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}


.top-nav{
    display: flex;
    gap: 0.5rem;
    height: 3.5rem;
    align-items: center;
    padding: 0px 1rem;
    font-size: 0.9rem;

}
.top-nav span{
    font-weight: 500;
    line-height: 1.25rem;
    margin-right: 0.5rem;
    color: rgb(115,115,115);
    font-weight: 300;
    font-weight: 500;
}

.top-nav a{
    padding: 0.375rem 0.75rem;
    line-height: 1rem;
    font-size: 0.75rem;
    background-color: rgb(245 245 245);
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    color:inherit;
    transition: all 200ms ease-in-out;
    font-weight: 500;

}

.top-nav a:hover{
    background-color:rgb(207, 204, 204) ;
}
.top-nav a:focus{
    background-color: black;
    color: white;
}

.top-nav a.active{
    background-color: black;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}




.source {
    width: 100%;
    height: 2rem;

    padding: 0 1rem;

    display: flex;
    align-items: center;


    background-color: #f5f5f5;
    color: #868585;
    border-top: 1px solid #e5e1e1;
    border-bottom: 1px solid #e5e1e1;

}
.source span{
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(115,115,115);
}

header{
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 0 1.5rem;
    border-bottom:1px solid rgb(229,229,229);
    gap: 1rem;
}

.logo{
    height: 2rem;
    width: 2rem;
    background-color: rgb(23,23,23);
    border-radius: 0.25rem;
}

.search-box{
    height: 2.5rem;
    width: 16rem;
    background-color: rgb(245,245,245);
    border-radius: 9999px;
}

.filler{
    flex:1 1 0;
}

.box{
    height: 2rem;
    width: 2rem;
    border-radius: 0.25rem;
    background-color: rgb(229,229,229);
}

.circle{
    height: 2rem;
    width: 2rem;
    background-color: rgb(212,212,212);
    border-radius: 9999px;
}

main{
    display: flex;
    justify-content: center;
    flex:1;
    align-items: center;
    background-color: rgb(245 245 245);
}

main > div{
    display: flex;
    height: 100%;
    max-width: 56rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 1rem 0;
    gap:1rem;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex:1 1 0;
    overflow: hidden;
}

.profile-top{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(229,229,229);
    border-radius: 0.75rem;
    overflow: hidden;
}

.banner{
    height: 8rem;
    background-color: rgb(212,212,212);
}

.info{
    position: relative;
    padding: 1rem;
    background-color: white;
}

.profile-pic{
    height: 6rem;
    width: 6rem;
    position: absolute;
    top:-3rem;
    background-color: rgb(229,229,229);
    border-radius: 9999px;
    border: 4px solid white;
}

.about{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    margin-left:7rem;
}

.name{
    height: 1.5rem;
    width: 12rem;
    border: 0.25rem;
    background-color: rgb(229,229,229);
}

.description{
    height: 1rem;
    width: 16rem;
    background-color: rgb(245 245 245);
    border-radius: 0.25rem;
}

.profile-btns{
    display: flex;
    gap:0.5rem;
    margin-top: 1rem;
}

.profile-top .btn{
    height: 2rem;
    width: 7rem;
    border-radius: 0.25rem;
}

.btn-dark{
    background-color: rgb(23,23,23);
}

.btn-lightish{
    background-color: rgb(245 245 245);
    border: 1px solid rgb(212,212,212);
}


.profile-mid{
    padding: 1rem;
    background-color: white;
    border: 1px solid rgb(229,229,229);
    border-radius: 0.75rem;
}

.profile-mid div:first-child{
    height: 1.25rem;
    width: 5rem;
    border-radius: 0.25rem;
    background-color: rgb(229,229,229);
    margin-bottom: 0.75rem;
}

.profile-mid div:nth-child(2){
    height: 1rem;
    width: 100%;
    background-color: rgb(245 245 245);
    border-radius: 0.25rem;
}

.profile-mid div:last-child{
    height: 1rem;
    width: 75%;
    background-color: rgb(245,245,245);
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}

.profile-bottom{
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid rgb(229,229,229);
    background-color: white;
}

.bottom-top{
    height: 1.25rem;
    width: 6rem;
    border-radius: 0.25rem;
    background-color: rgb(229,229,229);
    margin-bottom: 0.75rem;
}

.bottom-bottom{
    display: flex;
    gap:1rem;
}

.photo{
    height: 3rem;
    width: 3rem;
    border-radius: 0.25rem;
    background-color: rgb(229,229,229);
}

.something{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 1 0;
}

.something div:first-child{
    height: 1rem;
    width: 12rem;
    border-radius: 0.25rem;
    background-color: rgb(229,229,229);
}

.something div:last-child{
    height: 0.75rem;
    width: 8rem;
    border-radius: 0.25rem;
    background-color: rgb(245 245 245);
}


.main-right{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 18rem;
}


.suggestions{
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid rgb(229,229,229);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.suggestions > div:first-child{
    height: 1.25rem;
    width: 8rem;
    background-color: rgb(229,229,229);
    margin-bottom: 0.75rem;
    border-radius: 0.25rem;
}

.suggestions-card{
    display: flex;
    padding: 0.5rem 0;
    gap:0.5rem;
}

.suggestions-card > div:first-child{
    height: 2rem;
    width: 2rem;
    border-radius: 9999px;
    background-color: rgb(229,229,229);
}

.suggestions-card > div:last-child{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1 1 0;
}

.suggestions-card > div:last-child > div:first-child{
    height: 0.75rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: rgb(245 245 245);
}
.suggestions-card > div:last-child > div:last-child{
    height: 0.75rem;
    width: 66%;
    border-radius: 0.25rem;
    background-color: rgb(245 245 245);
}

.search-user{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid rgb(229,229,229);
    background-color: white;
}
.search-user > div{
    height: 1.25rem;
    width: 6rem;
    background-color: rgb(229,229,229);
    border: 0.25rem;
}

























