* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
  
.screen{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}


.top-nav{
    display: flex;
    gap: 0.5rem;
    height: 3.5rem;
    align-items: center;
    padding: 2px 1rem;
    font-size: 0.9rem;
    overflow-x:auto;

}
.top-nav span{
    font-weight: 500;
    line-height: 1.25rem;
    margin-right: 0.5rem;
    color: rgb(115,115,115);
    font-weight: 300;
    font-weight: 500;
}

.top-nav a{
    padding: 0.375rem 0.75rem;
    line-height: 1rem;
    font-size: 0.75rem;
    background-color: rgb(245 245 245);
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    color:inherit;
    transition: all 200ms ease-in-out;
    font-weight: 500;
    flex-shrink: 0;

}

.top-nav a:hover{
    background-color:rgb(207, 204, 204) ;
}
.top-nav a:focus{
    background-color: black;
    color: white;
}

.top-nav a.active{
    background-color: black;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}




.source {
    width: 100%;
    height: 2rem;

    padding: 0 1rem;

    display: flex;
    align-items: center;


    background-color: #f5f5f5;
    color: #868585;
    border-top: 1px solid #e5e1e1;
    border-bottom: 1px solid #e5e1e1;

}
.source span{
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(115,115,115);
}


.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

header{
    display: flex;
    align-items: center;
    height: 2.5rem;
    gap: 1rem;
    padding: 0 1.5rem;
    border-bottom: 1px solid rgb(229,229,229);
}

.header div:first-child{
    height: 2rem;
    width: 8rem;
    background-color: rgb(23,23,23);
    border-radius: 0.25rem;
}

.header div:nth-child(2){
    height: 2.5rem;
    max-width: 42rem;
    flex : 1 1 0%;
    border-radius: 9999px;
    background-color: rgb(245 245 245);

}

.header div:nth-child(3){
    flex:1 1 0;
}

.header div:last-child{
    height: 2rem;
    width: 2rem;
    border-radius: 9999px;
    background-color: rgb(229,229,229);
}

.content{
    display: flex;
    flex : 1 1 0;
    overflow: hidden;
}

.content section:first-child{
    display: flex;
    flex-direction: column;
    border-radius: 1px;
    width: 50%;
    border-right: 1px solid rgb(229,229,229);
    overflow: hidden;
}

.left-top{
    display: flex;
    height: 3rem;
    align-items: center;
    padding: 0 1rem;
    gap:0.5rem;
    border-bottom: 1px solid rgb(229,229,229);
}

.left-top div{
    height: 2rem;
    width: 6rem;
    border-radius: 9999px;
    background-color: rgb(245 245 245);
}

.left-bottom{
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: 1rem;
    overflow: hidden;
}

.left-bottom > div{
    display: flex;
    gap: 1rem;
    border-radius: 0.75rem;
    padding: 0.5rem;
}

.preview{
    height: 12rem;
    width: 18rem;
    border-radius: 0.75rem;
    background-color: rgb(229,229,229);
}


.description{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    height: 100%;
    padding: 0 0.5rem;
    gap:0.5rem;
}

.description div:first-child{
    height: 1rem;
    width: 8rem;
    border-radius: 0.25rem;
    background-color: rgb(229,229,229);
}

.description div:nth-child(2){
    height: 1.5rem;
    width: 75%;
    border-radius: 0.25rem;
    background-color: rgb(229,229,229);
}

.description div:nth-child(3){
    height: 1rem;
    width: 50%;
    border-radius: 0.25rem;
    background-color: rgb(245 245 245);
}

.description div:nth-child(4){
    flex: 1 1 0;
}

.description div:nth-child(5){
    height: 1.5rem;
    width: 6rem;
    border-radius: 0.25rem;
    background-color: rgb(212,212,212);
}

.map{
    position: relative;
    width: 50%;
    background-color: rgb(229,229,229);
}

.zoom{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    position: absolute;
    left: 1rem;
    top:1rem;
}
.zoom-btn{
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgb(255 255 255);
    border-radius: 0.25rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.mark{
    position: absolute;
    padding: 0 0.75rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 9999px;
    height: 2rem;
    background-color: rgb(255,255,255);
}

.mark1{
    top:5rem;
    left:8rem;
}


.mark2{
    top:10rem;
    right:12rem;
}

.mark3{
    left:12rem;
    bottom: 3rem;
}

.blackDot{
    right:8rem;
    bottom:-1rem;
    background-color: rgb(23,23,23);
}

